body {
    display: flex;
    flex-direction: column;
}

.clear {
    align-self: flex-start;
    background-color: rgb(255, 0, 34);
    font-family: OCR A Std, monospace;
    font-size: x-large;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 50px;
}

label, input {
    font-family: OCR A Std, monospace;
    margin-left: 100px;
}

