body {
    display: flex;
    flex-direction: column;
}

.reset {
    align-self: flex-start;
    background-color: rgb(255, 0, 34);
    font-family: OCR A Std, monospace;
    font-size: x-large;
}

.sketchContainer {
    width: 900px;
    height: 900px;
    border: solid 1px black;
    display: grid;
    align-self: center;
    grid-template-rows: repeat(16, auto);
    grid-template-columns: repeat(16, auto);

}
div.tileHovered {
    background-color: #ff2dae;
}